<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>

    <input id="transform_a" type="number" min="-99" max="99" step="0.1" value="1" name="transform_a">
    <input id="transform_b" type="number" min="-99" max="99" step="0.05" value="0" name="transform_b">
    <input id="transform_c" type="number" min="-99" max="99" step="0.05" value="0" name="transform_c">
    <input id="transform_d" type="number" min="-99" max="99" step="0.1" value="1" name="transform_d">
    <input id="transform_e" type="number" min="-99" max="99" step="1" value="0" name="transform_e">
    <input id="transform_f" type="number" min="-99" max="99" step="1" value="0" name="transform_f">
    <button id="reset_button" name="reset">reset</button>

    <br>
    <br>

    <script src="//cdnjs.cloudflare.com/ajax/libs/sprintf/0.0.7/sprintf.min.js"></script>
    <script src="js/Game.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
